MONGODB_URI=mongodb+srv://amankirmara143:password@cluster0.h2wmjhl.mongodb.net/qr_service

NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=eopts-34fdgr-saxcd-43tgdf-der4

API_BASE_URL=http://localhost:3000/api
NEXT_PUBLIC_API_BASE_URL=http://localhost:3000/api
NEXT_PUBLIC_BASE_URL=http://localhost:3000

SMTP_SERVICE=gmail
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_USER=amankirmara143@gmail.com
SMTP_PASS=gjjqc zyvxx yhqbe xibsh
EMAIL_FROM=aman*****@gmail.com

# Choose one of these domains and comment out the other
DOMAIN=http://localhost:3000/
# DOMAIN=http://192.168.1.8:3000/
